h1 {
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}

h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-top: 0;
    margin-top:0;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    font-weight:50;
}

h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight:50;
}

h5 {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight:50;
}

H2 a, H3 a {
    text-decoration: none; 
    color: black; 
}

H2 a:hover, H3 a:hover{
    
    color: rgb(229, 17, 17); 
}

@media(min-width: 768px) {   
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size:30px;
    }

}