/**********VUE MOBILE************/

header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    border-top: 0.5px solid #dcdcdc;
    border-bottom: 0.5px solid #dcdcdc;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    /* border: solid 3px #ef3d3d; */
}

.h-logo {
    width:20%;
    /* border: solid 2px #cbef3d; */
}
.logo {
    height: 100%;
    /* border: solid 1px #ef3d3d; */
}


.h-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    /* border: solid 3px #95dead; */
}

.h-title-start {
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    /* border: solid 3px #0e0e0e; */
}

.h-title-end {
  
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    /* border: solid 3px #b095de; */
    color: #0074ba;
}

.h-burger{
    /* border: solid 3px #b095de; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

#burger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    /* border: solid 3px #b095de; */
}

.b-line {
    background-color: black;
    height: 4px;
    width: 24px;
}

/********VUE GRAND ECRAN************/

@media(min-width: 768px) {   
    
header {
    margin-left: 4%;
}

.h-logo {
    width:5%;
    /* border: solid 1px #ef3d3d; */
}

.h-title {
    display: flex;
    flex-direction: row;
}

.h-title-start {
    /* border: solid 3px #0e0e0e; */
    margin-right: 10px;
}

.h-burger {
    display: none;
}
 
}