/********** MOBILE VIEW **********/
main {
    display: flex;
    flex-direction: column;
    }


.content {
    width: 90%; 
    margin: auto;
    margin-top: 100px;
    }


.logo-uml {
    width: 80%;
    margin-left: 20%;
}

.content img{
    width: 75%;
    margin: auto;
}

.img-etape {
    width: 100%;
}

.content a {
    padding-top: 70px;
}




/********** DEKSTOP VIEW **********/



@media(min-width: 1024px) {   
    
    main {
        display: flex;
        flex-direction: row;
    }


    .content {
        width: 70%;
       margin-top: 100px;
        margin-left: 500px;
       
    }

    .logo-uml {
        width: 50%;
        margin: auto;
    }

    .img-etape {
        width: 50%;
    }
}