/********** MOBILE VIEW **********/
main {
    display: flex;
    flex-direction: column;
    }


.content {
    width: 90%; 
    margin: auto;
    margin-top: 100px;
    }


.logo-uml {
    width: 80%;
    margin-left: 20%;
}

.content img{
    width: 100%;
    margin: auto;
}


.img-etape-dclass1,  .img-etape-dclass2, .img-etape-dclass3, .img-etape-dclass4, .img-etape-dclass5, .img-etape-dclass6, .img-etape-dclass7{
   display: flex;
   flex-direction: center;
}

.img-etape  {
    display: flex;
    flex-direction: center;
}

.content a {
    padding-top: 40px;
}

.content h3 {
    margin-top: 65px;
}


/********** DEKSTOP VIEW **********/



@media(min-width: 1024px) {   
    
    main {
        display: flex;
        flex-direction: row;
    }


    .content {
        width: 70%;
       margin-top: 100px;
        margin-left: 500px;
       
    }

    .logo-uml {
        width: 50%;
        margin: auto;
    }


    .img-etape-dclasses1,  .img-etape-dclass2, .img-etape-dclass3, .img-etape-dclass4, .img-etape-dclass5, .img-etape-dclass6, .img-etape-dclass7{
        width: 30%;
        margin-left: 100px;
    }

    .img-etape  {
        width: 30%;
        margin-left: 100px;
    }
}