main {
    display: flex;
    flex-direction: column;
    }


/*SIDEBAR*/
.nav {
    width: 95%; 
    margin:2%;
    line-height: 3;
    list-style-type: none;
    list-style-type: '🟦  ';
    border: solid 2px #3def81;

    
    }

.nav-t-intro, .nav-t-uml, .nav-t-merise, .titre {
    margin-left: 6%;
}
.nav-d-uml, .nav-m-merise {
    background-color: rgb(244, 244, 244);
    border-radius: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.nav-d-uml ul, .nav-m-merise ul {
    list-style-type: none;
    list-style-type: '➡️  ';
    }


/**************CONTENT SECTIONS***********/




.content {
    width: 95%; 
    margin:2%;
    margin-top: 8%;
    line-height: 2;
    }

.intro, .uml{
    margin-left: 4%;
    margin-right: 4%;
    text-align: justify;
    }

.content-intro-uml ul {
    list-style-type: none;
    list-style-type: '🔶  ';
    }

.ex-dclasses img, .ex-dobjets img, .ex-ddploiement img, .ex-dcasutilisation img, 
.ex-dactivites img, .ex-dpackages img , .ex-dsequences img, .ex-dtiming img,
.ex-dstructurec img, .ex-dprofils img, .ex-dcomposants img, .ex-dcom img,
.ex-detat img, .ex-dpresinter img{
    width: 100%;
    height: auto;
}








/*Responsive*/


@media(min-width: 768px) {   
    
    main {
        display: flex;
        flex-direction: row;
        }

    .nav {
        width: 25%;
        border-right: 0.5px solid #dcdcdc;
      
     
        }

    .nav-d-uml, .nav-d-merise {
        margin-right: 10%;
        }

    .content {
        width: 50%;
        }
                        }