html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #fafafa, #c7f1bf);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

header {
    width: 100%;
    border-bottom: 0.5px solid #dcdcdc;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

img {

  max-height: 50px;
}


h1 {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 26px;
    font-family: 'Comfortaa', cursive;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight:50;
}

main {
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%; 
    line-height: 2;
    text-align: center;
}

ul {
    list-style-type: none;
  }



  @media(min-width: 768px) {   
    
    header {
        height: 10vh;
    }

    main {
display: flex;
flex-direction: row;
    }

    .nav {
        width: 25%;
        border-right: 0.5px solid #dcdcdc;


    }

    .content {
        width: 75%;
    }
}
